label{color:white;font-size: 20px; }
body {background-image: url(background.png);text-align: center;}
h1 {
    color:white;
    font-size: 50px;
}
button{height:20px;width:75px; background-color: black; color:white}


